**1.Write a python function which should be capable of finding the factorial of any given number as an
argument.**

In [8]:
def factorial(n):
  if n < 0:
    return "Factorial is not defined for negative numbers."
  elif n == 0:
    return 1
  else:
    result = 1
    for i in range(1, n + 1):
      result *= i
    return result
print(factorial(int(input("Enter the number : "))))

Enter the number : 8
40320

**2. Luke Skywalker has family and friends. Help him remind them who is who.Given a string with a
name, return the relation of that person to Luke.**
| Person | Relation |
| ------ | ------ |
| Darth Vader | father |
| Leia | sister |
| Han | brother in law |
| R2D2 | droid |
- Example : relation_to_luke("Darth Vader") ➞ "Luke, I am your father."

In [11]:
def relation_to_luke(name):
  if name == "Darth Vader":
    return "Luke, I am your father."
  elif name == "Leia":
    return "Luke, I am your Sister"
  elif name == "Han":
    return "Luke, I am your Brother in law"
  elif name == "R2D2":
    return "Luke, I am your Droid"
  else:
    return "Unknown relation"
print(relation_to_luke("Darth Vader"))
print(relation_to_luke("Leia"))
print(relation_to_luke("Han"))
print(relation_to_luke("R2D2"))
print(relation_to_luke("Lisa"))

Luke, I am your father.
Luke, I am your Sister
Luke, I am your Brother in law
Luke, I am your Droid
Unknown relation

**3.Create a function which takes a number as its argument and return the number of digits in it. Use
of len function is not allowed. For example for 5 it should return 1, for 32 it should return 2 and 123 ,
3 should be returned and so on.**

In [14]:
def count_digits(number):
  if number == 0:
    return 1
  count = 0
  if number < 0:
    number = -number
  while number > 0:
    number //= 10
    count += 1
  return count
number = int(input("Enter a number: "))

print(count_digits(number))

Enter a number: 4545
4

**4. Write a function which takes a number as argument suppose 5 and gives results as multiplication
of factorial of each positive number less than or equal to the number given. i.e !5\*!4\*!3\*!2\*!1 =
34560.**

In [16]:
def factorial_product(n):
  if n < 0:
    return "Factorial is not defined for negative numbers."
  elif n == 0:
    return 1
  else:
    result = 1
    for i in range(1, n + 1):
      factorial = 1
      for j in range(1, i + 1):
        factorial *= j
      result *= factorial
    return result

# Get input from the user
number = int(input("Enter a number: "))

# Calculate and print the result
print(factorial_product(number))

Enter a number: -1
Factorial is not defined for negative numbers.

**5. Write a function which takes any number of arguments from a user and return the result which
should be output of a2 + b2+ c2+… if a , b ,c are numbers supplied ..i.e if 1,2,3 are supplied then result
returned should be 14. But user may supply any number of inputs so make the function to adapt to
that.**

In [17]:
def sum_of_squares(*args):
  total = 0
  for num in args:
    total += num ** 2
  return total
print(sum_of_squares(1, 2, 3))
print(sum_of_squares(2, 3, 4, 5))

14
54

**6.Write a function which accepts 3 arguments from the user.1 .number 1, 2. Number2 and 3. An
operation. The operation supported should be +, -, \*, and /. The function should return the result of
given operation. For example arguments are 3,2,+ then result returned should be 5.**

In [ ]:
def calculate(num1, num2, operation):
  if operation == "+":
    return num1 + num2
  elif operation == "-":
    return num1 - num2
  elif operation == "*":
    return num1 * num2
  elif operation == "/":
    if num2 == 0:
      return "Division by zero error!"
    else:
      return num1 / num2
  else:
    return "Invalid operation!"

# Get input from the user
num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))
operation = input("Enter the operation (+, -, *, /): ")

# Calculate and print the result
print(calculate(num1, num2, operation))

**7. Write a function which takes an argument which should be a numeric +ve integer. Depending on
the input supplied you have to print “I CAN”, “I WILL”. Suppose some one enters argument as 1 then
only “I CAN” should be printed. But if some one enters 2 then first “I CAN” should be printed then “I
WILL”. And if someone enters 3 then following should be printed in corresponding order: “I CAN”, “I
WILL”, “I CAN” and so on for any numbers entered.**

In [24]:
def print_i_can_i_will(n):
  if n <= 0:
    print("Please enter a positive integer.")
    return
  l=[]
  for i in range(1, n + 1):
    if i % 2 != 0:
      l.append("I CAN")
    else:
      l.append("I WILL")
  print(*l,sep=' , ')

# Get input from the user
number = int(input("Enter a positive integer: "))

# Call the function to print the output
print_i_can_i_will(number)

Enter a positive integer: 5
I CAN , I WILL , I CAN , I WILL , I CAN

**8. We have been given a list of whole numbers which represents the color of each gloves, determine
how many pairs of gloves with matching colors there are. For example, there are 7 gloves with
colors [1, 2, 1, 2, 1, 3, 2]. There is one pair of color 1 and one of color 2. There are three odd gloves
left, one of each color. The number of pairs is 2. Create a function that returns an integer representing
the number of matching pairs of gloves that are available**

In [25]:
def count_pairs(gloves):
  color_counts = {}
  pairs = 0
  for color in gloves:
    if color in color_counts:
      color_counts[color] += 1
    else:
      color_counts[color] = 1
    if color_counts[color] % 2 == 0:
      pairs += 1
  return pairs
print(count_pairs([1, 2, 1, 2, 1, 3, 2]))

2

**9. Write a function that returns True if two arrays, when combined, form a consecutive sequence. A
consecutive sequence is a sequence without any gaps in the integers, e.g. 1, 2, 3, 4, 5 is a
consecutive sequence, but 1, 2, 4, 5 is not.**

**Notes**
- The input lists will have unique values.
- The input lists can be in any order.

In [28]:
def is_consecutive_sequence(arr1, arr2):
  combined_arr = sorted(arr1 + arr2)
  for i in range(len(combined_arr) - 1):
    if combined_arr[i + 1] - combined_arr[i] != 1:
      return False
  return True
print(is_consecutive_sequence([1, 2, 3, 4, 5], [6, 7, 0]))
print(is_consecutive_sequence([1, 2, 4, 5], [0, 1, 2, 3]))

True
False

**10. You work for a manufacturer, and have been asked to calculate the total profit made on the sales
of a product. You are given a dictionary containing the cost price per unit (in dollars), sell price per
unit (in dollars), and the starting inventory. Return the total profit made, rounded to the nearest
dollar.**

In [31]:
def calculate_profit(data):
  cost_price = data["cost_price"]
  sell_price = data["sell_price"]
  inventory = data["inventory"]

  total_profit = (sell_price - cost_price) * inventory
  return round(total_profit)

dic={
    "cost_price": 32.67,
    "sell_price": 45.00,
    "inventory": 1200
}
print(calculate_profit(dic))

14796